<html>
    <head>
        <title> Lydia's blog </title>
    </head>
    <body>
        <div>
            <h1><a href=""> Lydia's blog </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""> Hello World! </a></h2>
            <p> Made with Django Girls at Girls Who Code</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""> Girls Who Code</a></h2>
            <p> We are at the Bank of America. </p>
        </div>
    </body>
</html>
