<html>
    <head>
        <title> Lydia's blog </title>
    </head>
    <body>
        <div>
            <h1><a href=""> Lydia's blog </a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <h2><a href=""> Hello World! </a></h2>
            <p> Made with Django Girls at Girls Who Code</p>
        </div>

        <div>
            <h2><a href=""> Girls Who Code</a></h2>
            <p> We are at the Bank of America. </p>
        </div>
    </body>
</html>
